<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>All addresses</h1>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>country</th>
        <th>postal code</th>
        <th>city</th>
        <th>street</th>
        <th>number</th>
        <th>created at</th>
        <th>updated at</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addresses}">
        <td th:text="${address.id}"></td>
        <td th:text="${address.country}"></td>
        <td th:text="${address.postalCode}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.number}"></td>
        <td th:text="${address.createdAt}"></td>
        <td th:text="${address.updatedAt}"></td>
        <td><a style="color: red;" th:href="'/delete-address/' + ${address.id}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>