<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<h1>New event - organizer</h1>
<form method="post" th:action="@{/new-event-organizer}" th:object="${createUpdateEventOrganizerDto}">
    Event:
    <select th:field="*{eventId}">
        <option th:each="event : ${events}" th:text="${event.name}" th:value="${event.id}"></option>
    </select>
    Organizer:
    <select th:field="*{organizerId}">
        <option th:each="organizer : ${organizers}" th:text="${organizer.name}" th:value="${organizer.id}"></option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>