<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1>New event</h1>-->
<!--<form th:action="@{/new-event}" th:object="${createUpdateEventDto}" method="post">-->
<!--    Name:-->
<!--    <input type="text" th:field="*{name}">-->
<!--    Start date:-->
<!--    Year:-->
<!--    <input type="number" th:field="*{startDate}">-->
<!--    Month:-->
<!--    <input type="number" th:field="*{startDate.monthValue}">-->
<!--    Day:-->
<!--    <input type="number" th:field="*{startDate.dayOfMonth}">-->
<!--    Hour:-->
<!--    <input type="number" th:field="*{startDate.hour}">-->
<!--    Minute:-->
<!--    <input type="number" th:field="*{startDate.minute}">-->
<!--    <br>-->
<!--    End date:-->
<!--    Year:-->
<!--    <input type="number" th:field="*{endDate.year}">-->
<!--    Month:-->
<!--    <input type="number" th:field="*{endDate.monthValue}">-->
<!--    Day:-->
<!--    <input type="number" th:field="*{endDate.dayOfMonth}">-->
<!--    Hour:-->
<!--    <input type="number" th:field="*{endDate.hour}">-->
<!--    Minute:-->
<!--    <input type="number" th:field="*{endDate.minute}">-->
<!--    <br>-->

<!--    Start date:-->
<!--    <input type="date" th:field="*{startDate}" th:value="${null}">-->
<!--    End date-->
<!--    <input type="date" th:field="*{endDate}" th:value="${null}">-->
<!--    Description:-->
<!--    <textarea th:field="*{description}"></textarea>-->
<!--    Address:-->
<!--    <select th:field="*{addressId}">-->
<!--        <option th:each="address : ${addresses}" th:value="${address.id}"-->
<!--                th:text="${address.country} + ', ' + ${address.city} + ', ul. ' + ${address.street} + ' '-->
<!--                + ${address.number}"></option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->
</body>
</html>

<!--   todo: zrobić formularz z pobieraniem dat (startDate, endDate) i adresów-->