<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<h1>New event - star</h1>
<form method="post" th:action="@{/new-event-star}" th:object="${createUpdateEventStarDto}">
    Event:
    <select th:field="*{eventId}">
        <option th:each="event : ${events}" th:text="${event.name}" th:value="${event.id}"></option>
    </select>
    Star:
    <select th:field="*{starId}">
        <option th:each="star : ${stars}" th:text="${star.name}" th:value="${star.id}"></option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>