<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<h1>All event - stars</h1>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>eventId</th>
        <th>starId</th>
        <th>createdAt</th>
        <th>updatedAt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="eventStar : ${eventStars}">
        <td th:text="${eventStar.id}"></td>
        <td th:text="${eventStar.eventId}"></td>
        <td th:text="${eventStar.starId}"></td>
        <td th:text="${eventStar.createdAt}"></td>
        <td th:text="${eventStar.updatedAt}"></td>
        <td><a style="color: red;" th:href="'/delete-event-star/' + ${eventStar.id}">delete</a></td>
    </tr>
    </tbody>
</table>
<a href="/new-event-star">New event - star</a>
</body>
</html>